:root{
  --main-color-og:rgb(249, 122, 24) ;
  --sec-color-drb:#e2eff39c;
  --sec2nd-main-color-drb: #0d1619 ;
  --sec2nd-main-color-drb-light: #0d16197a;
  --thir-color-pk:rgb(255, 212, 233);
  --f4-color-lo: rgb(255, 182, 126);
  --f5-color-lb: #b7d8e3;
  --s6-color-dp: rgb(78, 37, 56);
  /* --s8-color-pp:rgb(219, 47, 133) ; */
  --s7-color-pp:rgb(237, 65, 151);
  --plen-colors: linear-gradient(210deg , rgb(249, 122, 24) 1.15% , rgb(237, 65, 151) 97% );
}
.App {
    text-align: center;
    display: flex;
    position: relative;
    background-image: url(./assets/img/r4.jpg);
    /* background-color: var(--sec2nd-main-color-drb); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* mix-blend-mode: overlay; */
    /* background-color: var(--thir-color-pk); */
    flex-direction: column;
    gap: 3rem;
    overflow: hidden;
    /* filter:grayscale(30%) ; */
    z-index: 1;
}
.App::before{
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--sec2nd-main-color-drb-light);
}
  
  ::-webkit-scrollbar {
    display: none;
  }

.App-logo {
  height: 20vmin;
  pointer-events: none;
  /* background-color:var(--thir-color-pk); */
  padding: 1%;
  /* border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%; */
 
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 04s linear;
    -webkit-animation: App-logo-spin infinite 04s linear;
}
}

.App-header {
  /* background-color: var(--sec-color-drb); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(18px + 2vmin); */
  font-size: 35px;
  color: var(--main-color-og);
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}
  to {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}

}



.stroke-text{
color: transparent;
font-family: Arial, Helvetica, sans-serif;
-webkit-text-stroke-color: var(--main-color-og);
-webkit-text-stroke-width: 1.5px;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color-og);
  padding: 0.8rem;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  border: 2px solid transparent;
  color: var(--thir-color-pk);
  border-radius: 1rem 1.5rem 0.9rem 1.8rem;
  -webkit-border-radius: 1rem 1.5rem 0.9rem 1.8rem;
  -moz-border-radius: 1rem 1.5rem 0.9rem 1.8rem;
  -ms-border-radius: 1rem 1.5rem 0.9rem 1.8rem;
  -o-border-radius: 1rem 1.5rem 0.9rem 1.8rem;
  cursor: pointer;
  margin: 0.4rem;
}
.btn:hover{
  background-color: var(--thir-color-pk);
  /* background-color: var(--f4-color-lo); */
  /* color: var(--s6-color-dp); */
  color: var(--s6-color-dp);
  border-color:  var(--s6-color-dp);
  filter: drop-shadow(50%);
  -webkit-filter: drop-shadow(50%);
}

::-moz-selection {
  background: rgba(255, 208, 172, 0.45) ;
}
::selection {
  /* color: var(--sec2nd-main-color-drb);   */
  background: rgba(255, 208, 172, 0.45);
}
